body {
    font-family: helvetica;
    color: #333;
    padding: 0px;
    margin: 0px;
}

a {
    color: #75b348;
    text-decoration: none;
}

h2 {
    margin: 0px 0px 0.25em;
}

.header {
    background-color: hsl(0, 0%, 20%);
    color: #ececec;
    padding: 3px;
}

.header h1 {
    margin: 0px;
    font-size: 22px;
}

.overview {
    display: flex;
    justify-content: space-between;
    border: 1px solid #bbb;
    margin: 1em;
}

.instances-container {
    padding: 1em;
    padding-right: 0px;
    padding-bottom: 0em;
}

.families {
    padding: 1em;
    padding-bottom: 0em;
    min-width:250px;
    border-left: 1px solid #bbb;
}

.instances {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instance {
    min-width: 350px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #f7f7f7;
    border: 1px solid #bbb;
}

.task {
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(170, 210, 141);
    border: 1px solid #75b348;
}

.container {

}

.family {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #f7f7f7;
    border: 1px solid #bbb;
}

.action {
    float: right;
    display: block;
    padding: 0px 3px;
    margin-left: 3px;
    text-decoration: none;
    background: #75b348;
    /* font-variant: small-caps; */
    color: white;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #75b348;
}

.action:hover {
    background-color: rgb(170, 210, 141);
    border: 1px solid #75b348;
}

ul.container-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.container-list li {
    padding: 2px;
    background: #f7f7f7;
    margin: 3px 0px;
    border: 1px solid #75b348;
}

.cluster-list {
    padding: 1em;
    display: inline-block;
    margin: 1em;
    border: 1px solid #bbb;
    background: #f7f7f7;
}

.cluster-list ul {
    list-style: none;
    padding: 0px;
    margin: 0.25em;

}

.cluster-list ul li{
    margin-bottom: 0.25em;
    border: 1px solid #bbb;
    padding: 0.1em;
    text-align: center;
    background: #75b348;
    cursor: pointer;
    border-radius: 5px;
}

.cluster-list ul li a {
    color: white;
    display: block;
    cursor: pointer;
}

.cluster-list ul li:hover {
    background-color: rgb(170, 210, 141);
    border: 1px solid #75b348;
}

.chart {
    width: 100%;
}

.chart td {
    padding: 0px;
    font-size: small;
}

.resource_bar {
    background: #75b348;
    display: inline-block;
    color: white;
    padding-left: 2px;
}

.bar_td {
    padding: 0px;
    padding-left: 2px;
}

.resource_name {
  width: 2em;
}

.resource_remaining, .resource_used {
  text-align: right;
  width: 4em;
}
