{% extends "template.html" %}
{% block title %}{{cluster.name|title}} cluster overview{% endblock %}
{% block scripts %}
<script src="/static/js/picoModal.js"></script>
<script>

    function execContainer(ip, task, containerName){

    var command = 'containerName="'+containerName+'";\n' +
        'taskArn=' + task + ';\n' +
        'dockerCommand="CONTAINER_ID=\\`curl http://localhost:51678/v1/tasks?taskarn=\${taskArn} | jq -r \'.Containers[] | select(.Name=\\"\${containerName}\\").DockerId\'\\`; sudo docker exec -it -u root \\${CONTAINER_ID} bash";\n' +
        'ssh -i ~/.ssh/default.pem core@' + ip + ' -t "set -ex; $dockerCommand"\n'

    picoModal({
        content: '<pre><textarea style="width:100%; height:10em;">'+command+'</textarea></pre>',
        width: '50%'
    }).afterClose(function (modal) { modal.destroy(); }).show();

    }

    function ssh(ip){
        var command = "ssh " + ip;
        picoModal({
            content: command
        }).afterClose(function (modal) { modal.destroy(); }).show();
    }

    function setTime(d, elem) {
        var id = setInterval(frame, 100);
        function frame() {
            elem.innerHTML = 'uptime: '+getTime(d)
        }
    }

    function getTime(d){
        var oneDay = 24*60*60*1000;	// hours*minutes*seconds*milliseconds
        var epoch = new Date();
        var dat = epoch-d;

        var diffDays = Math.floor((dat)/(oneDay));
        var diffHours = Math.floor((dat)/(oneDay/24)-diffDays*24);
        var diffMins = Math.floor((dat)/(60000)-diffHours*60-diffDays*24*60);
        var diffSecs = Math.floor((dat)/(1000)-diffMins*60-diffHours*60*60-diffDays*24*60*60);
        return diffDays+'d '+diffHours+':'+diffMins+':'+diffSecs;
    }

</script>
{% endblock %}
{% block body %}
<div class='header'>
    <a
            class='action'
            target='_blank'
            href='https://console.aws.amazon.com/ecs/home?region=us-east-1#/clusters/{{cluster.name}}/'>console</a>
    <a
            class='action'
            target='_blank'
            href='../../'>index</a>
    <h1>{{cluster.name|title}} Cluster Overview</h1>
</div>
<div class='overview'>
    <div class='instances-container'>
        <h2>Instances</h2>
        <div class='instances'>
            {% set instances = cluster.instances %}
            {% for instance in instances %}
            <div class='instance'>
                {{instance.name}}
                ({{instance.ip}})
                <span>{{instance.type}}</span>

                <a class="action" target='_blank' href='http://{{instance.ip}}:9080'>cAdvisor</a>

                <span class="action" onclick="ssh('{{instance.ip}}')">ssh</span>

                <table class="chart">
                    <tr>
                        <td>cpu</td>
                        <td>{{ instance.cpu_used }}</td>
                        <td class="bar_td">
                            <div class="resource_bar" style="width:{{instance.cpu_perc}}%">
                                {{instance.cpu_perc | round | int}}%
                            </div>
                        </td>
                        <td>{{ instance.cpu_rem }}</td>
                    </tr>
                    <tr>
                        <td>mem</td>
                        <td>{{ instance.mem_used }}</td>
                        <td class="bar_td">
                            <div class="resource_bar" style="width:{{instance.mem_perc}}%">
                                {{instance.mem_perc | round | int}}%
                            </div>
                        </td>
                        <td class="resource_remaining">{{ instance.mem_rem }}</td>
                    </tr>
                </table>

                <div class="uptime">
                    <p  class="time" id="time-{{instance.id}}"></p>
                    <script>
                        var launch = new Date({{instance.launch_time.year}},
                                         {{instance.launch_time.month}}-1,
                                         {{instance.launch_time.day}},
                                         {{instance.launch_time.hour}},
                                         {{instance.launch_time.minute}},
                                         {{instance.launch_time.second}});
                        setTime(launch, document.getElementById("time-{{instance.id}}"));
                    </script>
                </div>

                {% for task in instance.tasks %}
                <div class='task'>
                    {{task.definition.family.name}} - {{task.definition.revision}}

                    <ul class='container-list'>
                        {% for container in task.containers %}
                        {% if container.status %}
                        <li>
                            {{container.name}}
                            <span class="action"
                                  onclick="execContainer('{{instance.ip}}','{{task.arn}}', '{{container.name}}')">exec</span>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='families'>
        <h2>Task families</h2>
        {% set families = cluster.task_families %}
        {% for family in families %}
        <div class='family'>
            {{family.name}}
            {% for task_def in family.task_defs %}
            {% for task in task_def.tasks %}
            <div class='task'>

                {{task.definition.family.name}} - {{task.definition.revision}}

                <ul class='container-list'>
                    {% for container in task.containers %}
                    {% if container.status %}
                    <li>
                        {{container.name}}
                                <span class="action"
                                      onclick="execContainer('{{task.instance.ip}}','{{task.arn}}', '{{container.name}}')">exec</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}