{% extends "template.html" %}
{% block title %}Task Definitions Overview{% endblock %}
{% block scripts %}
<script src="/static/js/picoModal.js"></script>
<script>

    function run(image_name, env){
        envVariables = "";
        Object.keys(env).forEach(function(key,index) {
            envVariables = envVariables + "-e " + key + "=" + env[key] + " ";
        });

        var command = "docker run -it -u root " + envVariables + image_name + " bash";

        picoModal({
            content: '<pre><textarea style="width:100%; height:10em;">'+command+'</textarea></pre>',
            width: '50%'
        }).afterClose(function (modal) { modal.destroy(); }).show();
    }

</script>
{% endblock %}
{% block body %}
<div class='header'>
    <a
            class='action'
            target='_blank'
            href='https://console.aws.amazon.com/ecs/home?region=us-east-1#/taskDefinitions'>console</a>
    <a
            class='action'
            target='_blank'
            href='../../'>index</a>
    <h1>Task Definitions Overview</h1>
</div>
<div class='overview'>
    <div class="task-definition-container">
        <h2>Task Definitions</h2>
        <div class="task-definitions">
            {% for task in task_definitions %}
            <div class="task-definition">
                {{task}}
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}