{% extends "template.html" %}
{% block title %}Task Definitions Overview{% endblock %}
{% block scripts %}
<script src="/static/js/picoModal.js"></script>
<script>

    function run(image_name, env){
        envVariables = "";
        Object.keys(env).forEach(function(key,index) {
            envVariables = envVariables + "-e " + key + "=" + env[key] + " ";
        });

        var command = "docker run -it -u root " + envVariables + image_name + " bash";

        picoModal({
            content: '<pre><textarea style="width:100%; height:10em;">'+command+'</textarea></pre>',
            width: '50%'
        }).afterClose(function (modal) { modal.destroy(); }).show();
    }

    function toggleElements(name){
        parent = document.getElementById(name);
        children = parent.children;
        var i;
        for (i = 0; i < children.length; i++) {
            if(!children[i].classList.contains("skip")){
                children[i].style.display = "none";
            }
            if(children[i].classList.contains("action")){
                button = children[i];
            }
        }
        button.innerHTML = "show";
        button.onClick = function(){ showElements(name); };
    }

    function showElements(name){
        parent = document.getElementById(name);
        children = parent.children;
        var button;
        var i;
        for (i = 0; i < children.length; i++) {
            if(!children[i].classList.contains("skip")){
                children[i].style.display = "block";
            }
            if(children[i].classList.contains("action")){
                button = children[i];
            }
        }
        button.innerHTML = "hide";
        button.onClick = function(){ hideElements(name); };
    }

</script>
{% endblock %}
{% block body %}
<div class='header'>
    <a
            class='action'
            target='_blank'
            href='https://console.aws.amazon.com/ecs/home?region=us-east-1#/taskDefinitions'>console</a>
    <a
            class='action'
            target='_blank'
            href='../../'>index</a>
    <h1>Task Definitions Overview</h1>
</div>
<div class='overview'>
    <div class="task-definition-container">
        <h2>Task Definitions</h2>
        {% for family in task_definitions %}
        <div class="task-definitions">
            <div class="task-definition" id="{{family}}" >
            <p class="action skip" onclick="hideElements('{{family}}')">hide</p>
            <h2  class="skip">{{family}}</h2>
            {% for revision in task_definitions[family] %}
                <div class="task">
                    {{family}} - {{revision}}
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}