{% extends "template.html" %}
{% block title %}{{cluster_name|title}} cluster overview{% endblock %}
{% block scripts %}
<script src="/static/js/picoModal.js"></script>
<script>

  function execContainer(ip, task, containerName){

    var command = 'containerName="'+containerName+'";\n' +
      'taskArn=' + task + ';\n' +
      'dockerCommand="CONTAINER_ID=\\`curl http://localhost:51678/v1/tasks?taskarn=\${taskArn} | jq -r \'.Containers[] | select(.Name=\\"\${containerName}\\").DockerId\'\\`; sudo docker exec -it -u root \\${CONTAINER_ID} bash";\n' +
      'ssh -i ~/.ssh/default.pem core@' + ip + ' -t "set -ex; $dockerCommand"\n'

    picoModal({
      content: '<pre><textarea style="width:100%; height:10em;">'+command+'</textarea></pre>',
      width: '50%'
    }).afterClose(function (modal) { modal.destroy(); }).show();

  }

  function ssh(ip){
    var command = "ssh " + ip;
    picoModal({
      content: command
    }).afterClose(function (modal) { modal.destroy(); }).show();
  }

</script>
{% endblock %}
{% block body %}
<div class='header'>
    <a
            class='action'
            target='_blank'
            href='https://console.aws.amazon.com/ecs/home?region=us-east-1#/clusters/{{cluster_name}}/'>console</a>
    <a
      class='action'
      target='_blank'
      href='../../'>index</a>
    <h1>{{cluster_name|title}} Cluster Overview</h1>
</div>
<div class='overview'>
    <div class='instances-container'>
        <h2>Instances</h2>
        <div class='instances'>
            {% for instance in instances %}
            <div class='instance'>
                {{instance.name}}
                ({{instance.ec2Instance.private_ip_address}})
                <span>{{instance.ec2Instance.instance_type}}</span>

                <a class="action" target='_blank' href='http://{{instance.ec2Instance.private_ip_address}}:9080'>cAdvisor</a>

                <span class="action" onclick="ssh('{{instance.ec2Instance.private_ip_address}}')">ssh</span>

                <table class="chart">
                    <tr>
                        <td>cpu</td>
                        <td>2048</td>
                        <td  class="bar_td">
                            <div class="resource_bar" style="width:70%">70%</div>
                        </td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>mem</td>
                        <td>1024</td>
                        <td  class="bar_td">
                            <div class="resource_bar" style="width:40%">40%</div>
                        </td>
                        <td class="resource_remaining">502</td>
                    </tr>
                </table>

                {% for task in instance.tasks %}
                <div class='task'>
                    {{task.taskDefinition.family}} - {{task.taskDefinition.revision}}

                    <ul class='container-list'>
                        {% for container in task.containers %}
                        {% if container.lastStatus %}
                        <li>
                            {{container.name}}
                            <span class="action"
                                  onclick="execContainer('{{instance.ec2Instance.private_ip_address}}','{{task.taskArn}}', '{{container.name}}')">exec</span>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='families'>
        <h2>Task families</h2>
        {% for family in families %}
        <div class='family'>
            {{family.0}}
            {% for task in family.1 %}
            <div class='task'>

                {{task.taskDefinition.family}} - {{task.taskDefinition.revision}}

                <ul class='container-list'>
                    {% for container in task.containers %}
                    <li>
                        {{container.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}