<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/js/picoModal.js"></script>
    <script>
        function copyToClipboard(){
            textArea = document.getElementsByTagName("textarea");
            textArea[0].select();
            document.execCommand("copy");
            pico = document.getElementsByClassName("pico-copied-note");
            pico[0].innerHTML = "Copied";
        }

        function toggleRoot(){
            textArea = document.getElementsByTagName("textarea");
            content = textArea[0].innerHTML;
            pos = content.search("-it -u root");
            if(pos == -1) content = content.replace("-it","-it -u root");
            else content = content.replace("-it -u root","-it");
            textArea[0].innerHTML = content;
        }

        function generatePicoModal(command, height, hasRoot){
            contentString = '<pre><textarea style="width:100%; height:'+height+';">'+command+'</textarea></pre>'
                    +'<div class="action" onclick="copyToClipboard()">copy to clipboard</div>';
            if(hasRoot){
                contentString=contentString +'<div class="pico-check"><table><tr>'
                                            +'<td><input type="checkbox" checked=True onchange="toggleRoot()"></td>'
                                            +'<td><p class="pico-note">root</p></td>'
                                            +'</tr></table></div>'
            }
            contentString = contentString+'<p class="pico-copied-note"></p>';
            return picoModal({
            content: contentString,
            width: '50%'
            }).afterClose(function (modal) { modal.destroy(); });
        }

        function run(image_name, env, auth_data){
            envVariables = "";
            Object.keys(env).forEach(function(key,index) {
                envVariables = envVariables + "-e " + key + "=" + env[key] + " ";
            });

            var command = "docker login -u "+auth_data["username"]+" -p "+auth_data["password"]+" -e none "+auth_data["endpoint"]
            command = command+";sudo docker run -it -u root " + envVariables + image_name + " bash";

            generatePicoModal(command, "10em", true).show();
        }

        {% block scripts %}
        {% endblock %}
    </script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
